<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="isShow" v-for="item in items">
            {{ item.title }}
        </p>
    </div>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                items: [
                    { title: "foo" },
                    { title: "baz" }]
            }
        },
        mounted(){
            console.log(this.$options.render);
        },
        computed: {
            isShow() {
                return this.items && this.items.length > 0
            }
        }
    })

</script>
</body>
</html>
